@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic');

body{
	margin:0;
	padding:0;
}

header{
	background:#333;
	color:#fff;
	height:60px;
	padding:20px;
	box-sizing:border-box;
}
.user, .logout{
	display:block;
	float:right;
	margin-right:16px;
	font-size:16px;
}
.logout{
	cursor:pointer;
}

*{
     font-family: 'Open Sans', sans-serif;
}
.admin_menu{
	display: block;
	float: left;
	position:relative;
}

.menu_list{
	display: block;
	position: absolute;
	top: -10px;
	left: -10px;
	background: #000;
	padding: 10px;
}
.menu_list a{
	color:#fff;
	text-decoration:none;
}
.menu_active{
	cursor:pointer;
}

.admin_content{
	background:#eee;
	color:#000;
	padding:20px;
	box-sizing:border-box;
}
.pages_list{
	width:100%;
	background:#333;
	color:#fff;
	border-collapse: collapse;
}
.pages_list th, td{
	text-align:left;
	padding: .75rem;
}
.pages_list td{
	border-top: 1px solid #dee2e6;
	background:#999;
	color:#000;
}
.pages_list tr{
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
.btn{
	display:inline-block;
	color:#000;
	background:#fff;
	border:solid 2px #000;
	margin:2px;
	text-decoration:none;
	padding:6px;
}
.page_field{
	margin-bottom:10px;
}
.page_field input{
	padding:0.75rem;
	width:100%;
	box-sizing: border-box;
}
.page_field .prop_title{
	font-size:10px;
	font-weight:bold;
	text-transform:uppercase;
	margin-left:20px;
}

.admin_content textarea{
	display: block;
	padding:0.75rem;
	width: 100%;
	box-sizing: border-box;
}
.page_field .status::before{
	content:" ";
	display:block;
	position:absolute;
	width:30px;
	height:30px;
	margin-top:-10px;
	border-radius:20px;
	background: #fefefe;
	border: solid 2px #333;
	transition:all 0.4s;
}
.page_field .status{
	cursor:pointer;
	display:block;
	width:60px;
	height:12px;
	border-radius:6px;
	background:#00ffff;
	margin-top:15px;
	margin-bottom:15px;
	margin-left:4px;
	position:relative;
	transition:all 0.8s;
}

.status.status_enabled{
	background:#2ecc71;
}
.status.status_enabled::before{
	left:0;
}

.status.status_disabled{
	background:#333;
}
.status.status_disabled::before{
	left:26px;
}
