@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic');

body{
	margin:0;
	padding:0;
}

header{
	background:#333;
	color:#fff;
	height:60px;
	padding:20px;
	box-sizing:border-box;
}
.user, .logout{
	display:block;
	float:right;
	margin-right:16px;
	font-size:16px;
}
.logout{
	cursor:pointer;
}

*{
     font-family: 'Open Sans', sans-serif;
}
